# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.vsconfig

# JetBrains Rider
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node (if any)
node_modules/
